body {
  margin: 0;
  padding: 10px 20px;
  background-color: black;
  font-family: "Press Start 2P", sans-serif;
}

p {
  color: white;
  font-size: 14px;
  margin-bottom: 6px;
}

canvas {
  display: block;
  margin: 0 auto;
}
